name: dataclasses-json

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

jobs:
  test_and_publish:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        # https://github.com/actions/python-versions/blob/main/versions-manifest.json
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10"]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[dev]"
    - name: Lint with flake8
      run: |
        flake8 dataclasses_json --show-source --statistics --count
    - name: Test with pytest
      run: |
        pytest
